<html>
<%- include('partials/head') %>

    <body>
        <div class="container flex-center form-container">

            <img class="logo" src="/biofass/img/logo.png" />

            <span>Solicitação de Acesso</span>

            <form method="POST" action="authorize" class="auth-form">

                <h1>Essa aplicação está solicitando os seguintes dados:</h1>

                <ul class="scope-list">
                    <%
                    const scopes = checkScope(scope);
                    const resources = Object.keys(scopes);
                    const mapResources = {
                        "Patient": "dados do paciente",
                        "Observation": "dados de exames",
                        "Practitioner": "dados do médico",
                        "Bundle": "dados de Bundle"
                    };
                    const mapPermissions = {
                        "GET": "ler",
                        "POST": "criar",
                        "PUT": "alterar",
                        "DELETE": "excluir",
                        "PATCH": "acrescentar"
                    };

                    function formatList(items) {
                        if (items.length === 1) return items[0];
                        const last = items.pop();
                        return items.join(", ") + " e " + last;
                    }
                    %>

                    <ul class="list-disc list-inside">
                        <% for (const resource of resources) {
                            const methods = scopes[resource]
                            .map(entry => Object.keys(entry)[0])
                            .filter(method => mapPermissions[method])
                            .map(method => mapPermissions[method]);

                            if (methods.length) {
                            const formatted = formatList([...methods]);
                        %>
                        <li>Acesso para <strong><%= formatted %></strong> <%= mapResources[resource] || resource %>.</li>
                        <% } } %>
                    </ul>
                    </ul>




                <input type="hidden" name="redirect_uri" value="<%= redirect_uri %>">
                <input type="hidden" name="state" value="<%= state %>">
                <input type="hidden" name="aud" value="<%= aud %>">
                <input type="hidden" name="scope" value="<%= scope %>">
                <input type="hidden" name="client_id" value="<%= client_id %>">
                <input type="hidden" name="user_id" value="<%= user_id %>">

                <input type="submit" value="Autorizar">
            </form>
        </div>
    </body>

</html>