<html>
    <%- include('partials/head') %>
    <body>
        <div class="container form-container flex-center">
            <img class="logo" src="/biofass/img/logo.png" />
            <span>Login</span>
            <form method="POST" action="login" autocomplete="off">
                <input type="hidden" name="redirect_uri" value="<%= redirect_uri %>">
                <input type="hidden" name="state" value="<%= state %>">
                <input type="hidden" name="aud" value="<%= aud %>">
                <input type="hidden" name="scope" value="<%= scope %>">
                <input type="hidden" name="client_id" value="<%= client_id %>">
                
                <div class="form-input">
                    <label for="username">Nome de Usuário: </label>
                    <input type="text" name="username" required placeholder="Usuário">
                </div>
                <div class="form-input">
                    <label for="password">Senha: </label>
                    <input type="password" name="password" required placeholder="********">
                    <% if(typeof error !== 'undefined') { %>
                        <p style="color: red"><%= error %></p>
                    <% } %>
                </div>
                <input type="submit" value="Login">
            
            </form>
        </div>
    </body>
</html>